
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

div{
    /* height: 200px; */
    border: 1px solid black;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 20% 80%;
}
.header{
    grid-column: 2 / 3;
    grid-row: 1;
}
.side-bar{
    color: white;
    padding: 24px;
    background-color: grey;
    grid-row: 1/-1;
    grid-column: 1 / 2;
    height: 800px;
}
.main-content{
    grid-column: 2/3;
    grid-row: 2/2;
}

.dashboard-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 800;
}
.dashboard-title > h2{
    margin-left: 8px;
    font-size: 32px;
}
.nav-one{
    display:grid;
    margin-top: 32px;
    margin-bottom: 32px;
}
.nav-item{
    margin: 8px;
    padding: 6px;
    display: flex;
    gap: 8px;
    cursor: pointer;
}
.nav-item > p{
    font-weight: 600;
    font-size: 18px;
}
.nav-item:hover{
    color: rgba(235, 233, 233, 0.686);
}