
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

div{
    /* height: 200px; */
    /* border: 1px solid black; */
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 20% 80%;
}
.header{
    grid-column: 2 / 3;
    grid-row: 1;
    z-index: 1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.side-bar{
    color: white;
    background-color: #363740;
    grid-row: 1/-1;
    grid-column: 1 / 2;
    height: 1000px;
}
.main-content{
    grid-column: 2/3;
    grid-row: 2/2;
    background-color: #F7F8FC;
}

.dashboard-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 800;
    padding: 24px;
    letter-spacing: 1.5px;
}
.dashboard-title > h2{
    margin-left: 8px;
    font-size: 32px;
}
.nav-one{
    display:grid;
    margin-top: 32px;
    margin-bottom: 32px;
}
.nav-item{
    /* margin: 8px; */
    color: #9396a7;
    padding: 14px;
    padding-left: 24px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    border-left: 2px solid transparent;
}
.nav-item > p{
    font-weight: 400;
    font-size: 18px;
}
.nav-item:hover{
    color: #DDE2FF;;
    border-left: 2px solid #DDE2FF;
    background-color: #3E4049;
}
.row-one{
    padding: 8px;
    display: grid;
    grid-template-columns: 60% 40%;
    
}
.search-bar{
    padding: 8px;
    display: flex;
    gap: 16px;
    align-items: center;
    color: #0E0E0E;
    padding-left: 48px;
}
.search-bar > input{
    border-radius: 20px;
    background-color: #E2E8F0;
    border: transparent;
    outline: transparent;
    font-size: 18px;
    width: min(70%,600px);
}
.name-area{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
    padding-right: 32px;
    
}
.name-area > a{
    font-weight: 600;
    color: #000000;
}
.name-area > svg:hover{
    cursor: pointer;
    color: #000000c9;
}
.name-area > img{
    margin-left: 24px;
}
.name-area > img:hover{
    cursor: pointer;
}
.name-area > a:hover{
    color: #00000096;
}
.row-two{
    margin-top: 20px;
    padding: 8px;
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.left-name-area{
    display: flex; 
    align-items: center;
    padding-left: 48px;
    gap: 16px;
    color: #252733;
}
.left-name-area > img{
    box-shadow: 0 1px 3px #DFE0EB;
}
.name> h2{
    font-weight: 900;
}
.right-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.right-button{
    background-color: #363740;
    color: white;
    font-size: 16px;
    border-radius: 16px;
    padding: 8px 32px;
    border: transparent;
    outline: transparent;
}
.right-button:hover{
    cursor: pointer;
    color: #DDE2FF;
}
.main-content{
    display: grid;
    padding: 32px;
    gap: 32px;
    grid-template-columns: repeat(3,minmax(100px,1fr)) 2fr;
    grid-template-rows: 1fr 3fr 3fr;
}

.issuenumber{
    background-color: white;
    border-radius: 10px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #DFE0EB;
}
.issuenumber > h3{
    color: #9FA2B4;
}
.issuenumber > h1{
    font-weight: 800;
    color: #252733;
}

.issuenumber:hover{
    border: 2px solid #3751FF;
}
.issuenumber:hover h1{
    color: #3751FF;
}
.issuenumber:hover h3{
    color: #3751FF;
}
.trends{
    border: 2px solid #DFE0EB;
    background-color: white;
    grid-column: 1/4;
    /* grid-row: 2/3; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-radius: 16px;
    overflow: hidden;
    /* padding: 8px; */
}
.trends p{
    font-size: 20px;
}
.chart{
    padding: 8px;
    grid-column: 1/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart-details{
    grid-column: 6/9;
    border-left: 2px solid #dfe0eb;
}
.chart-detail-two, .chart-detail-three, .chart-detail-four{
    border-top: 2px solid #dfe0eb;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chart-detail-one{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trends h4{
    color: #9FA2B4;
}


@media only screen and (max-width: 1200px) {
    .row-two{
        display: flex;
        flex-direction: column;
    }
    .right-buttons{
        margin-top: 48px;
    }
    .main-content{
        margin-top: 64px;
    }
}